<header>
  <div class="head-item logo">
    <img src="vscode.png" alt="logo_vscode" />
  </div>
  <div class="head-item menu">
    <div class="menu-section left">
      <div class="menu-item">
        <span>Projets</span>
      </div>
      <div class="menu-item">
        <span>Contacts</span>
      </div>
      <div class="menu-item">
        <span>Autres</span>
      </div>
    </div>
    <div class="menu-section center">
      <div class="nav-button">
        <span class="menu-item"><i class="fa fa-arrow-left"></i></span>
        <span class="menu-item"><i class="fa fa-arrow-right"></i></span>
      </div>
      <div class="control-pannel">
        <div class="text">
          <span class="search_icon">
            <i class="fa fa-search"></i>
          </span>
          <span>Portefolio</span>
        </div>
      </div>
      <div class="nav-button">
        <span title="ask AI" class="menu-item"><i class="fa fa-comment"></i></span>
      </div>
    </div>
    <div class="right">
      <div class="menu-section">
        <div class="menu-item">
          <span><i class="fa fa-th"></i></span>
        </div>
        <div class="menu-item">
          <span><i class="fa fa-grip-lines"></i></span>
        </div>
        <div class="menu-item">
          <span><i class="fa fa-th-list"></i></span>
        </div>
      </div>
      <div class="window-button">
        <div class="menu-item">
          <span><i class="fa fa-window-minimize"></i></span>
        </div>
        <div class="menu-item">
          <span><i class="fa fa-window-maximize"></i></span>
        </div>
        <div class="menu-item">
          <span><i class="fa fa-window-close"></i></span>
        </div>
      </div>
    </div>
  </div>
</header>
