<div class="center-header">
  <div class="menu">
    <div
      class="menu-item"
      [ngClass]="{ active: onPageClicked(pageListen) == 1 }"
      (click)="onPageClicked('welcome')"
    >
      <div class="img">
        <img src="vscode.png" alt="logo" />
      </div>
      <div class="menu-name">
        <span class="name">Welcome</span>
      </div>
      <div class="menu-close">
        <span>x</span>
      </div>
    </div>
    <div
      class="menu-item"
      [ngClass]="{ active: onPageClicked(pageListen) == 2 }"
      (click)="onPageClicked('user')"
    >
      <div class="img">
        <img src="html-logo.png" alt="logo" />
      </div>
      <div class="menu-name">
        <span class="name">Preview README.md </span>
      </div>
      <div class="menu-close">
        <span>x</span>
      </div>
    </div>
    <div
      class="menu-item"
      [ngClass]="{ active: onPageClicked(pageListen) == 3 }"
      (click)="onPageClicked('projet')"
    >
      <div class="img">
        <img src="css-logo.png" alt="logo" />
      </div>
      <div class="menu-name">
        <span class="name">Liste_projet.json</span>
      </div>
      <div class="menu-close">
        <span>x</span>
      </div>
    </div>
    <div
      *ngIf="newPage"
      class="menu-item"
      [ngClass]="{ active: onPageClicked(pageListen) == 4 }"
      (click)="onPageClicked('newFile')"
    >
      <div class="img">
        <img src="css-logo.png" alt="logo" />
      </div>
      <div class="menu-name">
        <span class="name">Untitled</span>
      </div>
      <div class="menu-close">
        <span>x</span>
      </div>
    </div>
  </div>
</div>
