.center-header {
  font-size: 13px;
}

.menu {
  display: flex;
}

.menu-item {
  background-color: rgba(0, 0, 0, 0.801);

  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.menu-item div {
  margin-left: 5px;
}

.menu-item:hover {
  cursor: pointer;
  background-color: #706e6eb2;
}

.name {
  color: green;
}
.active {
  border-top: rgb(255, 0, 0) 2px solid;
  background-color: rgba(14, 10, 15, 0.801);
}


.active:hover {
  background-color: rgba(14, 10, 15, 0.801);
}
