<div class="center-header">
  <div class="menu">
	<div class="menu-item active" (click)="onButtonClick('hello')">
      <div class="img">
        <img src="vscode.png" alt="logo" />
      </div>
      <div class="menu-name">
        <span class="name">Welcome</span>
      </div>
      <div class="menu-close">
        <span>x</span>
      </div>
    </div>
    <div class="menu-item">
      <div class="img">
        <img src="html-logo.png" alt="logo" />
      </div>
      <div class="menu-name" >
        <span class="name">User.html</span>
      </div>
      <div class="menu-close">
        <span>x</span>
      </div>
    </div>
    <div class="menu-item">
      <div class="img">
        <img src="css-logo.png" alt="logo" />
      </div>
      <div class="menu-name">
        <span class="name">Liste_projet.css</span>
      </div>
      <div class="menu-close">
        <span>x</span>
      </div>
    </div>
  </div>
</div>
