<div class="main">
	<div class="main-bloc">
		<div class="head">
			<h2 class="title">RAZAFIMAHATRATRA Ny Aina Tsilavina</h2>
			<h5 class="subtitle">Developpeur Web</h5>
		</div>
		<div class="body">
			<div class="left">
				<div class="bloc">
					<span class="little-title">Start</span>
					<div class="bloc-content">
						<span><i class="fa-solid fa-file-circle-plus"></i></span>
						<span class="subtitle-bloc">New File...</span>
					</div>
					<div class="bloc-content">
						<span><i class="fa-solid fa-file"></i></span>
						<span class="subtitle-bloc">Open File...</span>
					</div>
					<div class="bloc-content">
						<span><i class="fa-solid fa-folder-open"></i></span>
						<span class="subtitle-bloc">Open Folder...</span>
					</div>
					<div class="bloc-content">
						<span><i class="fa-solid fa-code-branch"></i></span>
						<span class="subtitle-bloc">Clone Git Repository...</span>
					</div>
					<div class="bloc-content">
						<span><i class="fa fa-plug"></i></span>
						<span class="subtitle-bloc">Connect to...</span>
					</div>
				</div>
				<div class="bloc">
					<span class="little-title">Recents </span>
					<div class="bloc-content">
						<span class="subtitle-bloc">Portefolio </span>
						<span class="subtitle-bloc"> ~/repo</span>
					</div>
					<div class="bloc-content">
						<img title="AngularCLI" src="angular-icon.png" alt="angular-icon">
						<img title="C" src="c-iconn.png" alt="angular-icon">
						<img title="Python" src="python-icon.png" alt="angular-icon">
						<img title="HTML" src="html-iconn.png" alt="angular-icon">
						<img title="CSS" src="css-iconn.png" alt="angular-icon">
						<img title="JS" src="js-icon.png" alt="angular-icon">
					</div>
				</div>
			</div>
			<div class="right">
				<div class="pdp">
					<img src="inconnu.jpg" alt="photo_de_profil">
				</div>
			</div>
		</div>
	</div>
</div>