.main {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.233);
  height: 90vh;
  overflow-y: auto;
}

.title {
  color: #ffffffd7;
}

.subtitle {
  color: #fffffff6;
}

.little-title {
  color: #ffffffbe;
}

.subtitle-bloc {
  font-size: 13px;
}

.welcome-bloc {
  width: 80%;
}

.body {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.right,
.left {
  width: 100%;
}

.subtitle {
  color: #ffffff9d;
}

.pdp {
  transform: translateX(-50px);
  transform: translateY(-50px);
  width: 400px;
  height: 450px;
}

.pdp img {
  width: 400px;
  height: 450px;
  border-radius: 50%;
}

.bloc-content {
  color: rgb(13, 142, 182);
}

.bloc-content span {
  margin-left: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.bloc-content:hover {
  color: rgb(13, 142, 182);
}

//welcom-bloc
.welcome-bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//user-bloc
.user-bloc{
  width: 100%;
}

///responsive
@media screen and (max-width: 1000px) {
  .welcome-bloc {
    transform: translateY(0px);
  }
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pdp {
    transform: translateX(0px);
    transform: translateY(0px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .pdp img {
    width: 250px;
    height: 300px;
  }
}
