<header>
  <div class="head-item menu">
    <div class="menu-section left">
      <div class="first">
        <span><i class="fa-solid fa-plug"></i></span>
      </div>
      <div class="menu-item">
        <span><i class="fa-solid fa-code-branch"></i></span>
        <span class="texte">main*</span>
      </div>
      <div class="menu-item">
        <span><i class="fa-solid fa-arrows-rotate"></i></span>
      </div>
      <div class="menu-item">
        <span><i class="fa-solid fa-circle-xmark"></i></span>
        <span class="texte">connect</span>
      </div>
    </div>
    <div class="right">
      <div class="menu-section">
        <div class="menu-item">
          <span><i class="fa fa-th"></i></span>
        </div>
        <div class="menu-item">
          <span><i class="fa fa-grip-lines"></i></span>
        </div>
        <div class="menu-item">
          <span><i class="fa fa-th-list"></i></span>
        </div>
      </div>
      <div class="window-button">
        <div class="menu-item">
          <span><i class="fa fa-file"></i></span>
          <span class="texte">Background</span>
        </div>
        <div class="menu-item">
          <span><i class="fa fa-check-double"></i></span>
          <span class="texte">prettier</span>
        </div>
        <div class="menu-item">
          <span class="texte"><i class="fa-solid fa-bell"></i></span>
        </div>
      </div>
    </div>
  </div>
</header>
