<header>
  <div class="head-item menu">
    <div class="menu-section left">
      <div class="first">
        <span><i class="fa fa-home"></i></span>
      </div>
      <div class="menu-item">
        <span><i class="fa fa-home"></i></span>
        <span>main*</span>
      </div>
      <div class="menu-item">
        <span><i class="fa fa-circle"></i></span>
      </div>
      <div class="menu-item">
        <span><i class="fa fa-home"></i></span>
        <span>connect</span>
      </div>
    </div>
    <div class="right">
      <div class="menu-section">
        <div class="menu-item">
          <span><i class="fa fa-th"></i></span>
        </div>
        <div class="menu-item">
          <span><i class="fa fa-grip-lines"></i></span>
        </div>
        <div class="menu-item">
          <span><i class="fa fa-th-list"></i></span>
        </div>
      </div>
      <div class="window-button">
        <div class="menu-item">
          <span><i class="fa fa-file"></i></span>
          <span>Background</span>
        </div>
        <div class="menu-item">
          <span><i class="fa fa-check-double"></i></span>
          <span>prettier</span>
        </div>
        <div class="menu-item">
          <span><i class="fa fa-ring"></i></span>
        </div>
      </div>
    </div>
  </div>
</header>
