header {
  display: flex;
  align-items: center;
  color: #928d8d;
  font-size: 12px;
  background-color: #181522;
  padding-left: 10px;
  padding-right: 10px;
}


@media screen and (max-width: 390px) {
	.menu-item .texte{
		display: none;
	}
}

.logo {
  display: flex;
  align-items: center;
  height: 30px;
}

.logo img {
  height: 20px;
  width: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.menu-item {
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
}

.menu-item span {
  margin-left: 3px;
}

.menu-item:hover {
  background-color: #706e6eb2;
}

.menu-section {
  display: flex;
  align-items: center;
}

.center {
  width: 30%;
}

.control-pannel {
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 5px;
  display: flex;
  width: 80%;
  justify-content: center;
}

.control-pannel:hover {
  background-color: #706e6eb2;
}

.control-pannel .text span {
  margin-left: 5px;
  margin-right: 5px;
}

.right {
  display: flex;
}

.window-button {
  display: flex;
  align-items: center;
  height: 28px;
  transform: translateX(10px);
  background-color: rgba(2, 2, 43, 0.815);
}

/*
responsive
*/

@media screen and (max-width: 1700px) {
  .menu-item {
    margin: 0;
  }
  .nav-button .menu-item {
    display: none;
  }
}

.first {
  position: relative;
  left: -10px;
  width: 35px;
  background-color: #57506d;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
