<div class="explorer">
  <div class="head">
    <span>EXPLORER</span>
    <span class="button"><i class="fa fa-bars"></i></span>
  </div>
  <div class="body">
    <div class="menu-item">
      <span class="chevron"><i class="fa fa-chevron-right"></i></span>
      <span class="body-button">OPEN EDITOR</span>
    </div>
    <div class="menu-item">
      <span class="chevron"><i class="fa fa-chevron-right"></i></span>
      <span class="body-button">PORTEFOLIO</span>
    </div>
    <div class="menu-item">
      <span class="chevron"><i class="fa fa-chevron-right"></i></span>
      <span class="body-button">OUTLINE</span>
    </div>
    <div class="menu-item">
      <span class="chevron"><i class="fa fa-chevron-right"></i></span>
      <span class="body-button">TIMELINE</span>
    </div>
  </div>
</div>
