<section>
  <div class="menu">
    <div class="top">
      <div class="menu-item">
        <span><i class="fa fa-file"></i></span>
      </div>
      <div class="menu-item">
        <span><i class="fa fa-search"></i></span>
      </div>
      <div class="menu-item">
        <span><i class="fa fa-share"></i></span>
      </div>
      <div class="menu-item">
        <span><i class="fa fa-cube"></i></span>
      </div>
    </div>
    <div class="bottom">
      <div class="menu-item">
        <span><i class="fa fa-user-circle"></i></span>
      </div>
      <div class="menu-item">
        <span><i class="fa fa-tools"></i></span>
      </div>
    </div>
  </div>
</section>
