.head {
  position: fixed;
  width: 100%;
}

.body {
  padding-top: 29px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.side-bar {
  width: 60px;
  height: 100vh;
  background-color: #181522;
  border-right: 0.5px solid #ffffff8a;
}

.explorer {
  width: 250px;
  background-color: #181522;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.center-body {
  background-color: #181522;
  height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 28px;
  background-color: #181522;
  border-top: 0.5px solid #ffffff8a;
}

//responsive mobile
@media screen and (max-width: 832px) {
  .explorer {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .side-bar {
    display: none;
  }
  .main {
    height: 100%;
  }
}
