.head {
  border-bottom: 0.5px solid #ffffff8a;
  position: fixed;
  width: 100%;
}

.body {
  position: fixed;
  top: 30.5px;
  display: flex;
}

.side-bar {
  width: 60px;
  height: 100vh;
  background-color: rgba(14, 10, 15, 0.801);
  border-right: 0.5px solid #ffffff8a;
}

.explorer {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.801);
}

.center-header{
    border: 1px solid red;
}

.center-body {
  background-color: rgba(14, 10, 15, 0.801);
  height: 96vh;
}
