.head {
  position: fixed;
  width: 100%;
}

.body {
  position: fixed;
  top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.side-bar {
  width: 60px;
  height: 100vh;
  background-color: #181522;
  border-right: 0.5px solid #ffffff8a;
}

.explorer {
  width: 250px;
  background-color: #181522;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.center-body {
  background-color: #181522;
  height: 96vh;
}
